registry=https://registry.npmjs.org/

# scoped registry only for @ciscode-apps and let npmjs be default
@ciscode-template-model:registry=https://pkgs.dev.azure.com/CISCODEAPPS/Templates/_packaging/packages-fe/npm/registry/
always-auth=true